.navbar {
    width: 100%;
    bottom: 0;
    height: 49px;
    display: flex;
    position: sticky;
    background: #fff;
    border-top: 1px solid #eee;
}

.navbar a {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    background: radial-gradient(rgba(121, 119, 255, 0.425) 15%, transparent 16%);
    background-size: 180px 180px;
    background-position: center;
}

.navbar a:hover> :global(svg) {
    stroke: rgb(121, 119, 255);
}