.writeText {
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 21px;
    outline: none;
    resize: none;
    color: #000;
    background: #fff;
    min-height: 200px;
}

.content {
    padding: 15px;
}