.header {
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 49px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav {
    bottom: 0;
    position: fixed;
    border-top: 1px solid #ccc;
    height: 49px;
    width: 100%;
}

.title_home {
    font-size: 21px;
    font-weight: 800;
}

.section {
    padding-top: 49px;
}