.header {
    top: 0;
    width: 100%;
    height: 49px;
    display: flex;
    position: sticky;
    background: #ffffffaa;
    align-items: center;
    border-bottom: 1px solid #eee;
    backdrop-filter: blur(5px);
}

.title {
    font-size: 21px;
    font-weight: 800;
    padding-left: 15px;
}

.section {
    flex: 1;
}