.article {
    border-bottom: 2px solid #eaf7ff;
    display: flex;
    padding: 10px 15px;
}

.content_data_user {
    padding-right: 8px;
}

.text_message {
    line-height: 1.3125;
    margin: 0;
}