.article {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.article:hover {
    cursor: pointer;
    background: #f5f8fa;
}

.avatar_content {
    padding-right: 10px;
}

.paragraph {
    margin: 0;
    line-height: 1.3125;
}

.date {
    color: #555;
    font-size: 14px;
}

.dot {
    margin: 0 5px;
}

.image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}